layout {

    focus-ring {
        active-color   "#b2b2b2"
        inactive-color "#333333"
        urgent-color   "#ff9999"
    }

    border {
        active-color   "#b2b2b2"
        inactive-color "#333333"
        urgent-color   "#ff9999"
    }


    tab-indicator {
        active-color   "#b2b2b2"
        inactive-color "#664b4b"
        urgent-color   "#ff9999"
    }

    insert-hint {
        color "#b2b2b280"
    }
}

recent-windows {
    highlight {
        active-color "#b2b2b2"
        urgent-color "#ff9999"
    }
}
