layout {

    focus-ring {
        active-color   "#cabaaa"
        inactive-color "#1e1d1b"
        urgent-color   "#cf7670"
    }

    border {
        active-color   "#cabaaa"
        inactive-color "#1e1d1b"
        urgent-color   "#cf7670"
    }


    tab-indicator {
        active-color   "#cabaaa"
        inactive-color "#82613f"
        urgent-color   "#cf7670"
    }

    insert-hint {
        color "#cabaaa80"
    }
}

recent-windows {
    highlight {
        active-color "#cabaaa"
        urgent-color "#cf7670"
    }
}
